body{
	font-family: sans-serif;
	margin: 0px;

}

header{
	color: #1b7ef7;
}

header h1{
	margin-left: 50px;
	margin-bottom: 5px;
}
nav{
	margin-left: 0px;
	margin-right: 0px;

}
nav div{
	background-color: #1b7ef7;
	padding-top: 1px;
	padding-bottom:1px;
	width: 100%;


}

nav ul{
	list-style: none;
	margin-top: 10px;
	margin-bottom: 5px;

}

nav li{
	display: inline;
	padding-right: 25px;
	margin: 0px;
	padding-left: 0px;
}

nav ul a{
	text-decoration: none;
	color: white;
	font-size: 18px;

}

a:hover{
	background-color: #a1a09d;

}


a:active{
	background-color: #294080;
}

.border {
	background-color: transparent;
	border: 1px #1b7ef7 solid;
	text-align: center;
	width: 27%;
	padding: 4%;

}

.border h3{
	color: #1b7ef7;
	font-size: 250%;
	margin: 0px;

}

.border p{
	font-size: 150%;
}

button {
	background-color: #1b7ef7;
	border: 1px #1b7ef7 solid;
	border-radius: 1px 1px 1px 1px;
	padding: 6px;
	font-size: 18px;
}

button a{
	text-decoration: none;
	color: white;
}

.left {
	float: left;
	margin-left: 9%;
	margin-right: 3%;
	margin-top: 3%;
	margin-bottom: 3%;
}

.right {
	float: right;
	margin-left: 3%;
	margin-right: 9%;
	margin-top: 3%;
	margin-bottom: 3%;
}
